{% extends 'web/base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'web/css/registro_alumno.css' %}">
<div class="alumno-container">

    <h1>Registro Académico</h1>
    <p class="subtitle">Paso 1: Datos del Alumno</p>
    <form method="POST">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <!-- DATOS DEL ALUMNO -->
        <div class="form-section">
            <div class="form-grid">

                <div class="form-group">
                    <label>Apellido Paterno *</label>
                    <input type="text" name="apellido_paterno" required value="{{ alumno.apellido_paterno }}">
                </div>

                <div class="form-group">
                    <label>Apellido Materno *</label>
                    <input type="text" name="apellido_materno" required value="{{ alumno.apellido_materno }}">

                </div>

                <div class="form-group">
                    <label>Nombres *</label>
                    <input type="text" name="nombres"required value="{{ alumno.nombres }}">
                </div>

                <div class="form-group">
                    <label>DNI *</label>
                    <input type="text" name="dni" value="{{ alumno.dni }}"pattern="[0-9]{8}" required maxlength="8">
                </div>

                <div class="form-group">
                    <label>Celular</label>
                    <input type="text" name="celular" value="{{ alumno.celular }}">
                </div>

                <div class="form-group">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" name="fecha_nacimiento" value="{{ alumno.fecha_nacimiento|date:'Y-m-d' }}">
                </div>

                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" name="direccion" value="{{ alumno.direccion }}">
                </div>
                <div class="form-group">
                    <label>Departamento *</label>
                    <select id="departamento" class="form-control">
                        <option value="">Seleccione</option>
                        {% for d in departamentos %}
                        <option value="{{ d.id }}">{{ d.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Provincia *</label>
                    <select id="provincia" class="form-control">
                        <option value="">Seleccione un departamento</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Distrito *</label>
                    <select name="distrito" id="distrito" class="form-control">
                        <option value="">Seleccione una provincia</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input type="email" name="email" value="{{ alumno.email }} "required>
                </div>

            </div>
        </div>

        <button class="btn-guardar" type="submit">
            Siguiente →
        </button>
        <a href="{% url 'cancelar_registro' %}" class="btn btn-danger" onclick="return confirmarCancelacion()">
            Cancelar
        </a>

    </form>
    <script>
    document.getElementById("departamento").addEventListener("change", function () {
        let id = this.value;

        fetch(`/get-provincias/${id}/`)
            .then(res => res.json())
            .then(data => {
                let provincia = document.getElementById("provincia");
                provincia.innerHTML = "";

                data.forEach(p => {
                    provincia.innerHTML += `<option value="${p.id}">${p.nombre}</option>`;
                });
            });
    });
    </script>
    <script>
    document.getElementById("provincia").addEventListener("change", function () {
        let id = this.value;

        fetch(`/get-distritos/${id}/`)
            .then(res => res.json())
            .then(data => {
                let distrito = document.getElementById("distrito");
                distrito.innerHTML = "";

                data.forEach(d => {
                    distrito.innerHTML += `<option value="${d.id}">${d.nombre}</option>`;
                });
            });
    });
    </script>

</div>

{% endblock %}