{% extends 'web/base/base.html' %}

{% block content %}
<div class="alumno-container">


    <h2>Registro Académico</h2>
    <p>Paso 3: Formación Académica</p>
    <p>I.E en donde realizó sus estudios</p>

    <form method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <label>Institución *</label>
                <input type="text" name="nombre_ie" value="{{ formacion.nombre_ie }}">
            </div>
            <div class="col-md-6">
                <label>Distrito *</label>
                <input type="text" name="distrito_ie" value="{{ formacion.distrito_ie }}">
            </div>

            <div class="col-md-6">
                <label>Tipo de institución *</label>
                <select name="tipo_institucion" class="form-control">
                    <option value="">Seleccione</option>

                    <option value="Nacional" {% if formacion.tipo_institucion == "Nacional" %}selected{% endif %}>
                        Nacional
                    </option>

                    <option value="Particular" {% if formacion.tipo_institucion == "Particular" %}selected{% endif %}>
                        Particular
                    </option>
                </select>
            </div>


        </div>

        <br>

        <a href="{% url 'registrar_apoderado' %}" class="btn btn-secondary">← Anterior</a>
        <button class="btn-guardar" type="submit">
            Siguiente →
        </button>
        <a href="{% url 'cancelar_registro' %}" class="btn btn-danger" onclick="return confirmarCancelacion()">
            Cancelar
        </a>

    </form>
</div>

{% endblock %}