{% extends 'web/base/base.html' %}

{% block content %}
<div class="alumno-container">


    <h2>Registro Académico Adicional</h2>
    <p>Paso 4: Formación Académica</p>
    <p>I.E en donde realizó sus estudios</p>

    <form method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="form-group">
                <label>¿Has estudiado en alguna academia anteriormente</label><br>

                <input type="radio" name="estudio_previo" value="si"> Sí
                <input type="radio" name="estudio_previo" value="no"> No
            </div>
            <div class="col-md-6">
                <label>Nombre de la carrera profesional de tu interes: *</label>
                <input type="text" name="carrera_interes" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label>Nombre de la segunda carrera profesional de tu interes: *</label>
                <input type="text" name="segunda_carrera" class="form-control" required>
            </div>
            
            <div class="col-md-6">
                <label>Tipo de estudio</label>
                <select name="tipo_estudio">
                    <option value="anual">Anual</option>
                    <option value="semestral">Semestral</option>
                    <option value="otros">Otros</option>
                </select>

                <label>Academia anterior</label>
                <input type="text" name="academia_anterior">
            </div>
            

        </div>

        <br>

        <a href="{% url 'regis_form_academica' %}" class="btn btn-secondary">← Anterior</a>
        <button class="btn-guardar">
            Guardar Registro
        </button>

    </form>
</div>

{% endblock %}