{% extends 'web/base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'web/css/registro_alumno.css' %}">
<div class="alumno-container">

    <h1>Registro Académico</h1>
    <p class="subtitle">Paso 1: Datos del Alumno</p>
    <form method="POST">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <!-- DATOS DEL ALUMNO -->
        <div class="form-section">
            <div class="form-grid">

                <div class="form-group">
                    <label>Apellido Paterno *</label>
                    <input type="text" name="apellido_paterno" value="{{ alumno.apellido_paterno }}">
                </div>

                <div class="form-group">
                    <label>Apellido Materno *</label>
                    <input type="text" name="apellido_materno" value="{{ alumno.apellido_materno }}">

                </div>

                <div class="form-group">
                    <label>Nombres *</label>
                    <input type="text" name="nombres" value="{{ alumno.nombres }}">
                </div>

                <div class="form-group">
                    <label>DNI *</label>
                    <input type="text" name="dni" value="{{ alumno.dni }}">
                </div>

                <div class="form-group">
                    <label>Celular</label>
                    <input type="text" name="celular" value="{{ alumno.celular }}">
                </div>

                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" name="direccion">
                </div>

                <div class="form-group">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" name="fecha_nacimiento" value="{{ alumno.fecha_nacimiento }}">
                </div>

                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" name="direccion" value="{{ alumno.direccion }}">
                </div>

                <div class="form-group">
                    <label>Distrito</label>
                    <input type="text" name="distrito" value="{{ alumno.distrito }}">
                </div>

                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input type="email" name="email" value="{{ alumno.email }}">
                </div>

            </div>
        </div>

        <button class="btn-guardar" type="submit">
            Siguiente →
        </button>
        <a href="{% url 'cancelar_registro' %}" class="btn btn-danger" onclick="return confirmarCancelacion()">
            Cancelar
        </a>

    </form>

</div>

{% endblock %}