body {
    background-color: #F1F6F7;
}
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

/* LAYOUT PRINCIPAL */

.layout {
    display: flex;
    min-height: 100vh;
    background: #f4f6f9;
}


/* SIDEBAR */

.sidebar {

    width: 230px;
    background-color: #3D5F73;
    color: rgb(255, 255, 255);
    padding: 20px;

    display: flex;
    flex-direction: column;



}

.sidebar h4 {
    margin-bottom: 25px;
}

.sidebar a {

    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;

}

.sidebar a:hover {
    background: #EDAD0C;
    color: white;
}

.sidebar i {
    color: white;
    margin-right: 10px;
}
/*diseño para submenu*/
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.submenu.open {
    max-height: 200px;
}

/* CONTENEDOR DERECHO */

.main {

    flex: 1;
    display: flex;
    flex-direction: column;

}


/* BARRA SUPERIOR */

.topbar {

    background-color: #3D5F73;
    /* azul oscuro elegante */
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.topbar i {
    margin-right: 8px;
}


/* CONTENIDO */

.content {

    flex: 1;
    padding: 30px;
    background: #f5f6fa;

}
.submenu {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.submenu li {
    margin-bottom: 8px;
}

.menu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flecha {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.flecha.rotar {
    transform: rotate(180deg);
}

/* quitar puntos */
.submenu {
    list-style: none;
    padding-left: 15px;
    margin-top: 8px;
    display: none;
}

.submenu.open {
    display: block;
}

.submenu li {
    margin-bottom: 6px;
}

/*log solo simbolo*/
.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 15px;
}

.sidebar-logo img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    color: white;
}

.logo-text span {
    font-size: 22px;
    font-weight: 700;
}

.logo-text small {
    font-size: 13px;
    opacity: 0.8;
}