/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Outfit', Arial, Helvetica, sans-serif;
}

/* LAYOUT PRINCIPAL */

.layout{
display:flex;
min-height:100vh;
background:#f4f6f9;
}


/* SIDEBAR */

.sidebar{

width:230px;
background:#5a3ec8;
color:white;
padding:20px;

display:flex;
flex-direction:column;

}

.sidebar h4{
margin-bottom:25px;
}

.sidebar a{

display:block;
color:white;
padding:12px;
text-decoration:none;
border-radius:5px;

}

.sidebar a:hover{
background:#452fa3;
}


/* CONTENEDOR DERECHO */

.main{

flex:1;
display:flex;
flex-direction:column;

}


/* BARRA SUPERIOR */

.topbar{

height:60px;
background:#745ece;
color:white;
bottom: 190px;
display:flex;
align-items:center;
justify-content:space-between;

padding:0 55px;

}


/* CONTENIDO */

.content{

flex:1;
padding:30px;
background:#f5f6fa;

}