{% extends 'web/base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/dashboard_secre.css' %}">
{% endblock %}
{% block content %}

<h2>Panel de Secretaria</h2>

<div class="cards-container">

    <a href="{% url 'registrar_alumno' %}" class="card">
        <i class="fas fa-user-graduate"></i>
        <h3>Alumnos</h3>
        <p>Registrar alumno</p>
    </a>

    <a href="{% url 'matricula' %}" class="card">
        <i class="fas fa-book"></i>
        <h3>Matrículas</h3>
        <p>Ver matrículas</p>
    </a>



</div>

{% endblock %}