{% extends 'web/base/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/crear_sede.css' %}">
{% endblock %}

{% block content %}

<div class="container-sede">

    <div class="card-sede">
        <h2 class="titulo">Editar Sede</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Nombre de la sede</label>
                <input type="text" name="nombre" class="input" value="{{ sede.nombre }}">
            </div>

            <div class="acciones">
                <button type="submit" class="btn-guardar">Actualizar</button>
                <a href="{% url 'lista_sedes' %}" class="btn-cancelar">Cancelar</a>
            </div>

        </form>
    </div>

</div>

{% endblock %}