{% extends 'web/base/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/lista_sedes.css' %}">
{% endblock %}
{% block content %}

<div class="container">

    <div class="header">
        <h2>Lista de Sedes</h2>
        <a href="{% url 'crear_sede' %}" class="btn">+ Nueva Sede</a>
    </div>

    <div class="card">
        <table class="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sede in sedes %}
                <tr>
                    <td>{{ sede.nombre }}</td>
                    <td>
                        <div class="acciones">
                            <a href="{% url 'editar_sede' sede.id %}" class="btn btn-sm btn-outline-warning"> <i class="fas fa-edit"></i> Editar</a>
                            <a href="{% url 'eliminar_sede' sede.id %}"
                                onclick="confirmarAccion(event, this.href, '¿Eliminar sede?', 'Se eliminará permanentemente', 'Sí, eliminar')"
                                class="btn btn-sm btn-outline-danger">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                            
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}