{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'web/css/registro_alumno.css' %}">
<div class="alumno-container">

<h1>Registro Académico</h1>
<p class="subtitle">Paso 1: Datos del Alumno</p>
<form action="{% url 'registrar_apoderado' %}" method="GET">


<!-- DATOS DEL ALUMNO -->
<div class="form-section">
<div class="form-grid">

<div class="form-group">
<label>Apellido Paterno *</label>
<input type="text" name="apellido_paterno">
</div>

<div class="form-group">
<label>Apellido Materno *</label>
<input type="text" name="apellido_materno">
</div>

<div class="form-group">
<label>Nombres *</label>
<input type="text" name="nombres">
</div>

<div class="form-group">
<label>DNI *</label>
<input type="text" name="dni">
</div>

<div class="form-group">
<label>Celular</label>
<input type="text" name="celular">
</div>

<div class="form-group">
<label>Fecha de Nacimiento</label>
<input type="date" name="fecha">
</div>

<div class="form-group">
<label>Sede</label>
<select name="sede">
<option>Huaura</option>
<option>Huacho</option>
<option>Sayán</option>
</select>
</div>

<div class="form-group">
<label>Dirección</label>
<input type="text" name="direccion">
</div>

<div class="form-group">
<label>Distrito</label>
<input type="text" name="distrito">
</div>

<div class="form-group">
<label>Correo Electrónico</label>
<input type="email" name="correo">
</div>

</div>
</div>

<button class="btn-guardar" type="submit">
Siguiente →
</button>

</form>

</div>

{% endblock %}