
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'web/css/style.css' %}">


<div class="login-background">
    <div class="login-wrapper">
        <div class="card-login">

            <!-- 🔥 HEADER CON IMAGEN COMPLETA -->
            <div class="card-header-img"></div>

            <div class="card-body-form">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert-error">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form method="post">
                    {% csrf_token %}

                    <div class="field-group">
                        <label class="field-label">Usuario</label>
                        <input type="text" name="username" placeholder="Ingrese Usuario" class="form-control" required>
                    </div>

                    <div class="field-group">
                        <label class="field-label">Contraseña</label>
                        <input type="password" name="password" placeholder="Ingrese Contraseña" class="form-control" required>
                    </div>

                    <button type="submit" class="btn-login">
                        Ingresar al Sistema
                    </button>
                </form>

                <div class="card-footer-text">
                    Academia Newton En Red— Huaura, Perú
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}